.head {
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .content {
        display: flex;
        align-items: center;
        
        .text-content {
            width: 50%;
            background: #ffffff9e;
            border-radius: 10px;
            color: black;
            padding: 2%;
        }
    }
}

.title {
    color: black;
    display: flex;
    justify-content: center;
    margin: 3% 0%;

    &__h1 {
        width: fit-content;
        position: relative;
        font-weight: bold;

        &::after {
            content: "";
            height: 4px;
            position: absolute;
            bottom: -2px;
            width: 50%;
            left: 25%;
            background-color: var(--theme-color);
        }
    }
}

.main {
    margin: 5% 0%;
    padding-bottom: 5%;

    .liste {
        height: 30rem;
        width: 90%;
        margin: auto;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .card {
        .details {
            margin-top: 5%;
            .subtitle {
                font-weight: bold;
            }

            .list-group {
                list-style: none;

                li {
                    text-transform: capitalize;
                }
            }
        }

        .card-actions {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            flex-flow: wrap;
    
            &>* {
                margin: 2% 0%;
            }
        }
    }

}

