.main {
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main .content {
  display: flex;
  align-items: center;
}
.main .content .text-content {
  width: 50%;
  background: rgba(255, 255, 255, 0.6196078431);
  border-radius: 10px;
  color: black;
  padding: 2%;
}