.navbar {
    padding-inline: 3% !important;
    /* height: 5rem; */
    box-shadow: none !important;
    background-color: transparent !important;
}

.nav__i {
    color: black;
}

#navbarText {
    justify-content: end;
}

.navbar-nav {
    gap: 1rem;
}

.active-link {
    border-bottom: 2px solid var(--theme-color) !important;
    font-weight: bold !important;
    color: var(--theme-color) !important;
}

.dropdown-menu.show {
    width: 100%;
}