.content {
    color: black;
    .primary {
        background-color: var(--theme-color) !important;
    }
    .form {
        padding-inline: 25%;
        .form_objectif {
            // width: 40%;
            
            .input-poids {
                width: 25%;
            }
            
            .form-content{
                display: flex;
                justify-content: space-between;
        
                .select-content {
                    width: 40%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
    
                    .select {
                        padding: 0.25rem;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}
.title {
    color: black;
    display: flex;
    justify-content: center;

    &__h1 {
        width: fit-content;
        position: relative;
        font-weight: bold;

        &::after {
            content: "";
            height: 4px;
            position: absolute;
            bottom: -2px;
            width: 50%;
            left: 25%;
            background-color: var(--theme-color);
        }
    }
}