.content {
    padding-top: 5rem;
}

.transactions {
    display: flex;
    justify-content: space-evenly;
    .wallet-card-container {
        display: flex;
        justify-content: center;
        // width: 20%;
    
        .wallet-card {
            // width: 40%;
            height: max-content;
        }
    }
}